@CHARSET "UTF-8";

.check {
	width: 40px !important;
	height: 35px;
	margin: 0px !important;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 5000;
  overflow: auto;
}
