@CHARSET "UTF-8";

.check {
	width: 40px !important;
	height: 35px;
	margin: 0px !important;
}

.modal img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.jconfirm-box-container .content {
	min-height: auto;
}
